<p>
Hallo, hier kannst du eine neue DICOM-Knotenliste aus OsiriX
<%= link_to('hochladen', new_import_path) %>, die dann im lokalen Netzwerk
unter <tt>http://knotenliste/DICOMNodes.plist</tt> erreichbar ist.
</p>
